<div class="container">
  <!-- page card -->
  <div class="m-3 w-50 text-center mx-auto">
    <h1 class="font-effect-neon nerko-font" style="font-size: 72px;">Writing on the wall</h1>
  </div>

  <div class="row bg-light m-2 p-2">
    <div class="col-md-4 bg-light border-right">
      <h3 class="nerko-font-plain">Make your opinion everyone else's problem</h3>
      <p>
        According to all known laws of aviation, there is no way that a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyway. Because bees don’t care what humans think is impossible.” SEQ. 75 - “INTRO TO BARRY” INT. BENSON HOUSE - DAY ANGLE ON: Sneakers on the ground. Camera PANS UP to reveal BARRY BENSON’S BEDROOM ANGLE ON: Barry’s hand flipping through different sweaters in his closet. BARRY Yellow black, yellow black, yellow black, yellow black, yellow black, yellow black...oohh, black and yellow...
      </p>
    </div>


    <div class="col-md-8 bg-light text-center">
      <h1 class="nerko-font-plain pt-5">
        It's simple. Browse through thousands of pieces of media. Make an account. And start changing people's minds, or threaten to fight them i dont care i'm not your mother</h1>
        <button class="btn btn-yellow">Hell yeah! <br>Register me Right Now! ➡</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 border-right text-center">
      <h2 class="nerko-font text-light">TOP 5</h2>
      <div class="row nerko-font mr-4 justify-content-center">
        <h3 class="mr-3"
        [ngClass]="{ 'border-bottom border-light text-light':showFilms}" (click)="switchTabs(true, false, false)">Movies</h3>

        <h3 class="mr-3"
        [ngClass]="{ 'border-bottom border-light text-light':showBooks}"
        (click)="switchTabs(false, true, false)">Books</h3>

        <h3 class="mr-3"
        [ngClass]="{ 'border-bottom border-light text-light':showTv}"
        (click)="switchTabs(false, false, true)">TV Shows</h3>
      </div>

    </div>
    <div class="col-md-4 bg-light">
      <h3>latest news</h3>
    </div>
  </div>
</div>
