<app-navbar></app-navbar>
<div class="bg-color">
  <!-- latest activity -->
  <div class="card position-fixed fixed-right w-25 m-3">
    <h4 class="card-header m-2 p-2 text-center">Latest Activity</h4>

    <div class="card-body">
    <table class="table m-2">
      <tbody>

        <!-- temporarily hardcoding some data -->
        <tr>
          <td><img src="assets/gain.png" class="small-icon"></td>
          <td><img src="assets/movie.png" class="small-icon"></td>
          <td>Dragonheart (1996)</td>
        </tr>
        <tr>
          <td><img src="assets/loss.png" class="small-icon"></td>
          <td><img src="assets/book.png" class="small-icon"></td>
          <td>Harry Potter (idk)</td>
        </tr>
        <tr>
          <td><img src="assets/loss.png" class="small-icon"></td>
          <td><img src="assets/tv.png" class="small-icon"></td>
          <td>Supernatural (2005)</td>
        </tr>
        <!-- end data -->

      </tbody>
    </table>
    </div>
  </div>
  <!-- end latest activity -->

  <!-- top movies -->
  <div class="card w-60 m-3 p-2">
    <div class="card-header">
      <img src="assets/movie.png" class="d-inline-block align-top mr-2 small-icon">
      <h5 class="d-inline-block">Crowd Favorite Films</h5>
    </div>

    <div class="card-body bg-light">
      <ul class="list-group">
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">1. Dragonheart (1996)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">2. King Arthur (2003)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">3. The Lego Movie (2015)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">4. Into the Spiderverse (2018)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">5. Bumblebee (2018)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
      </ul>
    </div>

  </div>

  <!-- top tv shows -->
  <div class="card w-60 m-2 p-2">
    <div class="card-header">
      <img src="assets/tv.png" class="d-inline-block align-top mr-2 small-icon">
      <h5 class="d-inline-block">Binge Worthy TV</h5>
    </div>

    <div class="card-body bg-light">
      <ul class="list-group">
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">1. Avengers: Earth's Mightiest Heroes (2013)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">2. Cursed (2020)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">3. The 100 (2015)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">4. Arrow (2005)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">5. The Flash (2010)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
      </ul>
    </div>

  </div>

  <!-- top books -->
  <div class="card w-60 m-2 p-2">
    <div class="card-header">
      <img src="assets/book.png" class="d-inline-block align-top mr-2 small-icon">
      <h5 class="d-inline-block">For Those Who Are Literate</h5>
    </div>

    <div class="card-body bg-light">
      <ul class="list-group">
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">1. Webster's Dictionary (2020)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">2. Lord of the Rings (old)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">3. The Hunger Games (2010)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">4. Twilight (2008)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
        <li class="list-group-item">

          <!-- temporary hard coded data -->
          <p class="d-inline-block">5. New Moon (2009)</p>
          <a href="#" class="ml-2">See reviews</a>

        </li>
      </ul>
    </div>

  </div>
</div>
