<app-navbar></app-navbar>
<!-- latest activity -->
<div class="border border-secondary position-fixed fixed-right w-25 m-3">
  <h4 class="border-secondary border-bottom m-2 p-2">Latest Activity</h4>
  <!-- movies card -->
  <div class="card m-2">
    <!-- movies title -->
    <div class="card-header">
      <img src="assets/movie.png" width="20" height="20" class="d-inline-block align-top mr-2">
      <h5 class="d-inline-block">Movies</h5>
    </div>
    <!-- movies body -->
    <div class="card-body bg-light">
      <ul class="list-group">
        <li class="list-group-item">
          <img src="assets/gain.png" width="20" height="20" class="d-inline-block align-top mr-2">
          <p class="d-inline-block">Dragonheart (1996)</p>
        </li>
        <li class="list-group-item">
          <img src="assets/loss.png" width="20" height="20" class="d-inline-block align-top mr-2">
          <p class="d-inline-block">Pacific Rim (2013)</p>
        </li>
        <li class="list-group-item">
          <img src="assets/loss.png" width="20" height="20" class="d-inline-block align-top mr-2">
          <p class="d-inline-block">Power Rangers (2017)</p>
        </li>
      </ul>
    </div>
  </div>



</div>
