.border-weight{
  border-width:4px !important;
  border-color: #540B0E;
}

.set-font {
  font-family: Copperplate, Times, serif;
}

a {
  color: #E09F3E;
}

.btn-yellow {
  background-color: #E09F3E !important;
}
.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:visited,
.btn-yellow:focus {
  background-color: #FFF3B0 !important;
}
