<nav class="navbar navbar-expand-lg border-bottom border-weight">
  <img src="assets/chart.png" width="40" height="40" class="d-inline-block align-top mr-3 ml-5" alt="" [routerLink]="['/']">
  <!-- <div class="p-2 ml-5">
    <span class="h5 m-2 border-right pr-2">
      <a href="#">Register</a>
    </span>
    <span class="h5 m-2 border-right pr-2">
      <a href="#">Login</a>
    </span>
    <span class="h5 m-2 border-right pr-2">
      <a href="#">Favorite Lists</a>
    </span>
    <span class="h5 m-2">
      <a href="#">Rankings</a>
    </span>
  </div> -->
  <div *ngFor="let link of links">
    <div *ngIf="link.display">
      <button [routerLink]="['/',link.location]" class="btn btn-yellow btn-lg mr-2">{{link.name}}</button>
      <!-- <a [routerLink]="['/',link.location]" class="btn btn-yellow btn-lg mr-2">{{link.name}}</a> -->
    </div>
  </div>
</nav>
