<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap&effect=neon" rel="stylesheet">
<div class="container text-center">
  <div class="m-3 w-50 text-center mx-auto">
    <h1 class="font-effect-neon logo-title">Register</h1>
  </div>

  <h4 class="text-light"><strong>To start, enter an email and password:</strong></h4>

  <div class="input-group mb-3 w-50 mx-auto">
    <input type="text" class="form-control">
    <div class="input-group-prepend">
      <span class="input-group-text">@</span>
    </div>
    <input type="text" class="form-control">
  </div>
  <div class="input-group mb-3 w-50 mx-auto">
    <input type="password" class="form-control">
  </div>
</div>
