<div class="container">
  <div class="row m-2">
    <!-- user card -->
    <div class="col">
      <!-- <img src="assets/movie.png" class="small-icon" alt="">
      <p>@username</p>
      <p>nickname</p>
      <p>My favorite x is....</p> -->
      <div class="media m-3">
        <img class="large-icon mr-3" src="assets/user_icon.png">
        <div class="media-body">
          <h3 class="nerko-font" >@optimusprimesleftarm
          <br>Danny</h3>
        </div>
      </div>
      <h1 class="nerko-font border-bottom">About me...</h1>
      <h5 class="text-white">I'm weird. I'm a weirdo. I don't fit in and I don't want to fit in. Have you ever seen me without this stupid hat on? That's weird.</h5>

    </div>
    <!-- reviews -->
    <div class="col">
      <div class="m-2 border rounded border-yellow p-2">
        <h1 class="nerko-font-plain text-white text-center">My Reviews</h1>
        <div class="p-2">
          <div *ngFor="let review of reviews">
            <ul class="list-unstyled border rounded border-yellow bg-light p-2">
              <li class="media">
                <img class="small-icon mr-3" src="assets/movie.png">
                <div class="media-body">
                  <blockquote class="blockquote">
                    <p><em>"{{review.opinion}}"</em></p>
                    <footer class="blockquote-footer">review for {{review.media}}</footer>
                  </blockquote>
                  <div class="row m-2 justify-content-end">
                    <button class="btn btn-dark mr-2"><img class="small-icon mr-1" src="assets/heart.png"><strong>{{review.agree}}</strong></button>
                    <button class="btn btn-dark mr-2"><img class="small-icon mr-1" src="assets/stop.png"><strong>{{review.disagree}}</strong></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- top ten -->
    <div class="col">
      <div class="m-2 border rounded border-yellow p-2">
        <h1 class="nerko-font-plain text-white text-center">My top 10</h1>
        <div *ngIf="showList" class="border rounded border-yellow bg-light p-2">
          <div>
            <ol>
              <ng-container *ngFor="let position of topten">
                <li class="border-bottom">
                  <blockquote class="blockquote">
                    <p><em>{{position.media}}</em></p>
                    <footer class="blockquote-footer">"{{position.opinion}}"</footer>
                  </blockquote>
                </li>
              </ng-container>
            </ol>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-yellow mr-2" (click)="toggleList()">{{listButton}}</button>
        </div>
      </div>
    </div>

    <!-- lists -->
    <div class="col">
      <div class="m-2 border rounded border-yellow p-2">
        <h1 class="nerko-font-plain text-white text-center">Featured Lists</h1>
      <app-list-view></app-list-view>
      </div>
    </div>
  </div>

</div>
