  <div class="border rounded border-yellow bg-light p-2 m-2"  *ngFor="let list of fakeLists">
    <!-- <div *ngFor="let list of fakeLists"> -->
      <!-- <div> -->
        <div class="row m-2">
        <img class="small-icon mr-3" src="assets/tv.png">
        <img class="small-icon mr-3" src="assets/book.png">
        <img class="small-icon mr-3" src="assets/movie.png">
        </div>

        <div class="row m-2 p-2 border-bottom">
          <div class="media">
            <img [src]="list.icon" class="med-icon mr-2">
            <div class="media-body">
              <h3 class="nerko-font-plain">{{list.title}}</h3>
              <p class="border-top pt-3">{{list.description}}</p>
            </div>
          </div>
        </div>

        <div class="row m-2 justify-content-end">
          <button class="btn btn-dark mr-2"><img class="small-icon mr-1" src="assets/heart.png"><strong>{{list.heart}}</strong></button>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
