/* You can add global styles to this file, and also import other style files */
body { background-color: #540B0E; }

/* custom yellow buttons */

.btn-yellow {
  background-color: #E09F3E !important;
}
.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:visited,
.btn-yellow:focus {
  background-color: #FFF3B0 !important;
}

.nerko-font{
  color: #E09F3E;
  font-family: "Nerko One", serif;
  text-shadow: 0 0 3px #000000;
}

.nerko-font-plain{
  font-family: "Nerko One", serif;
}

.w-60 {
  width: 60%;
}

.small-icon {
  width: 30px;
  height: 30px;
}

.med-icon{
  width:70px;
  height: 100px;
}

.large-icon {
  width: 150px;
  height: 150px;
}

.border-yellow {
  border-color: #E09F3E !important;
}

.border-5{
  border-width:5px !important;
}

.dissolve-grad{
  background: linear-gradient(0deg, rgb(224, 159, 62, 1), rgba(255, 255, 255, 0));
}
